<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phoenix Pulse Technologies</title>
    <link rel="stylesheet" href="/home.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- Start Nav -->
    <div class="nav">
        <h3>Phoenix Pulse <span class="technologies">Technologies</span></h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="search">
            <input type="search" placeholder="search">
        </div>
    </div>
    <!-- END Nav -->
    <div>
        <h1>Service</h1>
    </div>
    <div class="footer-content">
        <div class="text-foot">
            <h3>DOOGE</h3>
            <div class="paragraph">
                <h5>Trend down</h5>
                <h5>News</h5>
                <h5>About As</h5>
                <h5>Contact us</h5>
            </div>
        </div>
        <div class="text-foot">
            <h3>Social</h3>
            <div class="paragraph">
                <h5>Facebock</h5>
                <h5>Twitter</h5>
                <h5>Youtubr</h5>
                <h5>LinkedIn</h5>
                <h5></h5>
            </div>
        </div>
        <div class="text-foot">
            <h3>Service</h3>
            <div class="paragraph">
                <h5>Compare</h5>
                <h5>Feedback</h5>
                <h5>Honor</h5>
                <h5>Giveway</h5>
            </div>
        </div>
        <div class="text-foot">
            <h3>Activity</h3>
            <div class="labelSS">
                <input type="search">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>